.policy-selector, .advanced-controls {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.control-group {
    margin-bottom: 15px;
}

h3 {
    font-size: 1.5em;
}

label {
    display: block;
    margin: 5px 0;
}

input[type="checkbox"] {
    margin-right: 5px;
}

@media (max-width: 600px) {
    .policy-selector, .advanced-controls {
        width: 100%;
    }
}